version = 1

exclude_patterns = [
  "tools/analyzers/**",
  "validator/keymanager/remote/keymanager_test.go",
  "validator/web/site_data.go"
]

[[analyzers]]
name = "go"
enabled = true

[analyzers.meta]
import_paths = ["github.com/prysmaticlabs/prysm/v3"]

[[analyzers]]
name = "test-coverage"
enabled = true

[[analyzers]]
name = "shell"
enabled = true

[[analyzers]]
name = "secrets"
enabled = true
