[Unit]
Description=Prysm Eth2 Validator Client
Wants=network-online.target
After=network-online.target

[Service]
User=prysm-validator
Group=prysm-validator
Type=simple
Restart=always
RestartSec=5
ExecStart=/usr/bin/validator --config-file /etc/prysm/validator.yaml --accept-terms-of-use

[Install]
WantedBy=multi-user.target